 body {
     margin: 0;
     width: 100vw;
     height: 100vh;
 }

 #canvas {
     /*//display: block;*/
     width: 100%;
     height: 100%;
 }

 #htmlList {
 	text-align: center;
 	font-size:2em;
 	line-height: 3em;
 }

 #info{
 	position: absolute;
 	left:1em;
 	top:1em;
 }

 #background{
 	position: fixed;
 	width: 100%;
 	height: 100%;
 	left: 0;
 	top: 0;
 	z-index: -1;
 	border: none;
 	outline: none;
 	pointer-events: none;
 }

 #shuffle{
 	position :fixed;
 	height:6%;
 	width:150px;
 	bottom:20%;
 	left:25%;
 	font-size: 1rem;
 	border: 0px;
 	border-radius: 30px;
 	background-color: #dbe4ff;

 }

 #solve{
 	position :fixed;
 	height:6%;
 	width:150px;
 	bottom:20%;
 	left:65%;
 	font-size: 1rem;
 	border: 0px;
 	border-radius: 30px;
 	background-color: #dbe4ff;

 }

 #resetCam{
 	position :fixed;
 	height:6%;
 	width:150px;
 	bottom:10%;
 	left:45%;
 	font-size: 1rem;
 	border: 0px;
 	border-radius: 30px;
 	background-color: #dbe4ff;
 }